name: main workflow
run-name: main workflow
on:
  workflow_dispatch:
    inputs:
      envdetails:
        description: provide env details
        type: string
        required: true
jobs:
  preparemetrix:
    env:
      envdetails: ${{inputs.envdetails}}
    runs-on: windows-latest
    steps:
    - name: prepare tenant metrix
      id: preparemetrixstep
      shell: powershell
      run: |
        $envobj = $ENV:envdetails | convertfrom-json
        $envs = @()
        foreach($instance in $envobj) {
            $envs += [pscustomobject]@{
                cname = $instance.cname
                env = $instance.env
            }
        }

        $metrixJson = $($envs | ConvertTo-Json -compress)
        echo "envmetrix=$metrixJson" >> $ENV:GITHUB_OUTPUT
    outputs:
      envmetrix: ${{ steps.preparemetrixstep.outputs.envmetrix}}

  executeMetrix:
    needs: preparemetrix
    uses: ./.github/workflows/callableworkflow.yml
    strategy:
      fail-fast: true
      matrix:
        tenant: ${{ fromJson(needs.preparemetrix.outputs.envmetrix) }}
    with:
      cname: ${{matrix.tenant.cname}}
      environment: ${{matrix.tenant.env}}

  finalstep:
    needs: [ executeMetrix ]
    runs-on: windows-latest
    steps:
    - name: finalstep
      uses: ./.github/myactions/action1/action.yml
      with:
        sampleinput: "This is final step after executing metrix"
    - name: print output from custom action
      run: |
        Write-Host "Output from custom action is: ${{steps.finalstep.outputs.sampleoutput}}"
